*{
    padding: 0;
    margin: 0;
    border: none;
}

body{
    background-color: black;
    color: white;
}
.about_label{
    text-align: center;
}
.def{
    margin-top: 30px;
    padding: 1%;
    font-size: 60px;
    background-color: rgba(82, 82, 82, 0.274);
    text-align: center;
    color: rgba(252, 3, 3, 0.596);
    border-radius: 14px;
    user-select: none;
}

.input_def{
    margin-top: 30px;
    margin-left: 14px;
    color: white;
    font-size: 20px;
    padding: 0% 85% 10% 0%;
    background-color: rgba(46, 46, 46, 0.562);
}
.output{
    margin-top: 20px;
    font-size: 30px;
}
.convert{
    margin-top: 30px;
    margin-left: 14px;
    color: white;
    padding: 1% 48%;
    background-color: rgba(46, 46, 46, 0.562);
    border: none;
    border-radius: 14px;
    transition: 0.4s;
    cursor: pointer;
}
.convert:hover{
background-color: rgba(255, 0, 0, 0.267);
}















